<h1>Notes</h1>
<%= link_to 'New Note', new_note_path, {class: 'btn green'}%>
<div class="container">
  <% @notes.each do |note| %>
    <div class="note">
      <h3><%= note.title %></h3>
      <p><%= note.body %></p>
      <%= link_to 'Show Note', note_path(note), {class: 'btn blue'} %>
    </div>
  <% end %>
</div>
