<nav>
  <div class="nav-wrapper blue">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to 'Notes', notes_path%></li>
      <li><%= link_to 'Notes', notes_path%></li>
      <li><%= link_to 'Notes', notes_path%></li>
    </ul>
  </div>
</nav>